/* src/App.css */
.App {
  text-align: center;
  padding-top: 50px;
  min-height: 100vh;
  background: rgb(0,255,169);
  background: linear-gradient(180deg, rgba(233,0,255,0.5) 0%, rgba(0,255,169,0.5) 100%); 
}

.game-container {
  display: flex;
  justify-content: center;
}